node_modules/
creds.js
null_xray.json
full_scrape.js
full_scrape.txt
example.png
Userspranav.vadrevuAppDataLocalGoogleChromeUser Data/
xray_jsonfiles/
promises_intro.js
links.txt
google.png
user_data/
xray_csvfiles/
teluguLinks.txt
items
old_xray_json_files/
englishLinks.js
englishLinks.txt
hindiLinks.js
hindiLinks.txt
sample/
telugujson/
Website/testing.html
Website/public/sankey.html
Website/public/sankey.json
Website/sankey.html
Website/vl2vg.js
Website/spec.json
Website/xray_jsonfiles_old/